src/main/resources/hotels.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8081/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8081/" targetNamespace="http://localhost:8081/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8081/">

    <!-- Models -->
    <xs:complexType name="Hotel">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="rating" type="xs:int"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="amenities" type="tns:Amenity"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Amenity">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ResponseStatus">
        <xs:sequence>
            <xs:element minOccurs="0" name="code" type="xs:int"/>
            <xs:element name="msg" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- List -->
    <xs:element name="getHotelListRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAmenitiesListRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHotelListByNameLikeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Create -->
    <xs:element name="createHotelRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
                <xs:element name="rating" type="xs:int"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="amenitiesIds" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get By id -->
    <xs:element name="getByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Delete -->
    <xs:element name="deleteRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get By id -->
    <xs:element name="updateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotel" type="tns:Hotel"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Update Amenities Link -->
    <xs:element name="updateAmenitiesHotelLinkByNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotelId" type="xs:int"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="amenityNames" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Update Amenities Link By Id-->
    <xs:element name="updateAmenitiesHotelLinkByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotelId" type="xs:int"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="amenityIds" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Responses -->
    <xs:element name="Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="responseStatus" type="tns:ResponseStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="responseHotel">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="responseStatus" type="tns:ResponseStatus"/>
                <xs:element name="hotel" type="tns:Hotel"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="responseHotelList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="responseStatus" type="tns:ResponseStatus"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="hotels" type="tns:Hotel"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="responseAmenitiesList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="responseStatus" type="tns:ResponseStatus"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="amenities" type="tns:Amenity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAmenitiesListRequest">
    <wsdl:part element="tns:getAmenitiesListRequest" name="getAmenitiesListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getByIdRequest">
    <wsdl:part element="tns:getByIdRequest" name="getByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRequest">
    <wsdl:part element="tns:deleteRequest" name="deleteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHotelListByNameLikeRequest">
    <wsdl:part element="tns:getHotelListByNameLikeRequest" name="getHotelListByNameLikeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createHotelRequest">
    <wsdl:part element="tns:createHotelRequest" name="createHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAmenitiesHotelLinkByNameRequest">
    <wsdl:part element="tns:updateAmenitiesHotelLinkByNameRequest" name="updateAmenitiesHotelLinkByNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAmenitiesHotelLinkByIdRequest">
    <wsdl:part element="tns:updateAmenitiesHotelLinkByIdRequest" name="updateAmenitiesHotelLinkByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part element="tns:updateRequest" name="updateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHotelListRequest">
    <wsdl:part element="tns:getHotelListRequest" name="getHotelListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Response">
    <wsdl:part element="tns:Response" name="Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HotelsPort">
    <wsdl:operation name="getAmenitiesList">
      <wsdl:input message="tns:getAmenitiesListRequest" name="getAmenitiesListRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <wsdl:input message="tns:getByIdRequest" name="getByIdRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteRequest" name="deleteRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getHotelListByNameLike">
      <wsdl:input message="tns:getHotelListByNameLikeRequest" name="getHotelListByNameLikeRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="createHotel">
      <wsdl:input message="tns:createHotelRequest" name="createHotelRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateAmenitiesHotelLinkByName">
      <wsdl:input message="tns:updateAmenitiesHotelLinkByNameRequest" name="updateAmenitiesHotelLinkByNameRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateAmenitiesHotelLinkById">
      <wsdl:input message="tns:updateAmenitiesHotelLinkByIdRequest" name="updateAmenitiesHotelLinkByIdRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateRequest" name="updateRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getHotelList">
      <wsdl:input message="tns:getHotelListRequest" name="getHotelListRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelsPortSoap11" type="tns:HotelsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAmenitiesList">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAmenitiesListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap:operation soapAction=""/>
      <wsdl:input name="getByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getHotelListByNameLike">
      <soap:operation soapAction=""/>
      <wsdl:input name="getHotelListByNameLikeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="createHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="createHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateAmenitiesHotelLinkByName">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateAmenitiesHotelLinkByNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateAmenitiesHotelLinkById">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateAmenitiesHotelLinkByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getHotelList">
      <soap:operation soapAction=""/>
      <wsdl:input name="getHotelListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelsPortService">
    <wsdl:port binding="tns:HotelsPortSoap11" name="HotelsPortSoap11">
      <soap:address location="http://localhost:8081/service/hotels"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>